<main class="hero">
  <h1>Hoşgeldiniz, Öğrenci!</h1>
  <p>
    Sınavlarınıza erişebilir, başarılarınızı takip edebilir ve
    yazılım, okul testleri ve diğer konularda kendinizi geliştirebilirsiniz.
    Platform tamamen sizin için optimize edilmiştir.
  </p>
  <a  asp-controller="Test" asp-action="Index">Testleri Çöz</a>
</main>
