@model dotnet_ex.Models.AccountChangePasswordModel

<main class="big-auth-container">
    <div class="big-form-card">
        <h2>Hesap Bilgilerim</h2>

        <form method="post" novalidate asp-controller="Home" asp-action="Index">
            <div asp-validation-summary="All" class="text-danger"></div>

            <div class="big-form-group">
                <label asp-for="OldPassword"></label>
                <input asp-for="OldPassword" type="password" class="big-input" placeholder="Mevcut Şifre" />
                <span asp-validation-for="OldPassword" class="text-danger"></span>
            </div>

            <div class="big-form-group">
                <label asp-for="Password"></label>
                <input asp-for="Password" type="password" class="big-input" placeholder="Yeni Şifre" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>

            <button type="submit" class="big-btn">Güncelle</button>
        </form>
    </div>
</main>
